[user]
	name = dgolovachev
[diff]
	tool = vimdiff
	algorithm = histogram
[core]
	editor = emacsclient
	autocrlf = input
[rerere]
	enabled = 1
[pull]
	rebase = false
	merge = true
[gpg]
	format = ssh
[merge]
	log = true
[includeIf "gitdir:/Users/denis.golovachev/"]
	path = ~ /.gitconfig-work
[includeIf "gitdir:/Users/stoffel/"]
	path = ~/.gitconfig-home
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
