[user]
	name = wonderbeat
	email = borov.htid@gmail.com
[diff]
	tool = vimdiff
	algorithm = histogram
[core]
	editor = nvim
#	editor = emacsclient
	autocrlf = input
	excludesFile = ~/.gitignore
[rerere]
	enabled = 1
[pull]
	rebase = true
	merge = true
[gpg]
	format = ssh
[merge]
	log = true
[includeIf "gitdir:/home/coder/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:/Users/stoffel/"]
	path = ~/.gitconfig-home
[includeIf "gitdir:/Users/gato/"]
	path = ~/.gitconfig-home
[includeIf "gitdir:~/Documents/projects/santiment/"]
	path = ~/.gitconfig-santiment
[includeIf "gitdir:~/projects/santiment/"]
	path = ~/.gitconfig-santiment
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[github]
	user = WonderBeat
[init]
	defaultBranch = main
[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch -f --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[advice]
	skippedCherryPicks = false
